<mat-toolbar class="header"><app-nav></app-nav></mat-toolbar>
<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <p><button class="button-sidenav" mat-raised-button>New Ticket</button></p>
    <p><button class="button-sidenav" mat-raised-button>My Tickets</button></p>
    <p><button class="button-sidenav" mat-raised-button>Claim Ticket</button></p>
    <p><button class="button-sidenav" mat-raised-button>My Queue</button></p>
    <p><button class="button-sidenav" mat-raised-button>All Tickets</button></p>
    <p><button class="button-sidenav" mat-raised-button>Users</button></p>
    <p><button class="button-sidenav" mat-raised-button>Config</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <app-queue [tickets]="homeTickets"/> -->
    <router-outlet />

  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer">
  <p>All Rights Reserved. &copy; Aaron Whitmer, 2024</p>
</mat-toolbar>


