<div class="container">
  @if (isNewTicket){<h1 style="align-items: center; color: #545454">New Ticket</h1>}

  @else if (!isNewTicket && (this.selectedTicket.user_id == this.currentUser.id) && (this.selectedTicket.assigned_tech_id == null)){<h1 style="align-items: center; color: #545454">Update | Claim Ticket</h1>}
  @else if (!isNewTicket && (this.selectedTicket.assigned_tech_id == null)){<h1 style="align-items: center; color: #545454">Claim Ticket</h1>}
  @else if (!isNewTicket && (this.selectedTicket.user_id == this.currentUser.id) && (this.selectedTicket.assigned_tech_id !== null)){<h1 style="align-items: center; color: #545454">Update Ticket</h1>}
  @else {<h1 style="align-items: center; color: #545454">View Ticket</h1>}

    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="form">
      <div>
        <mat-form-field class="main">
          <mat-label floatLabel="Title">Title</mat-label>
          <input matInput formControlName="title" [value]="this.selectedTicket.title" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="main">
          <mat-label floatLabel="Description">Description</mat-label>
          <textarea matInput formControlName="description" [value]="this.selectedTicket.description" required></textarea>
          <mat-hint>Be descriptive</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="details">
          <mat-label floatLabel="Status">Status</mat-label>
          <input matInput formControlName="status_id" [value]="this.selectedTicket.status_id" required>
        </mat-form-field>

        <mat-form-field class="details">
          <mat-label floatLabel="Location">Location</mat-label>
          <input matInput formControlName="location_id" [value]="this.selectedTicket.location_id" required>
        </mat-form-field>

        <mat-form-field class="details">
          <mat-label floatLabel="Category">Category</mat-label>
          <input matInput formControlName="category_id" [value]="this.selectedTicket.category_id"required>
        </mat-form-field>

        <mat-form-field class="details">
          <mat-label floatLabel="Group">Group</mat-label>
          <input matInput formControlName="group_id" [value]="this.selectedTicket.group_id" required>
        </mat-form-field>

      </div>
      <button type="button" (click)="goBack()">Cancel</button>
      @if (isNewTicket){  <button type="submit" [disabled]="!ticketForm.valid">Submit</button> }
      @if (!isNewTicket && (this.selectedTicket.user_id === this.currentUser.id) ){  <button type="button" [disabled]="!ticketForm.valid" (click)="updateTicket()">Update</button> }
      @if (!isNewTicket && (this.selectedTicket.assigned_tech_id == null)){  <button type="button" (click)="claimTicket()">Claim</button> }
    </form>
  </div>
