
<mat-card class="config">
  <mat-card-header>
    <mat-card-subtitle>Config</mat-card-subtitle>
    <mat-card-title>Groups</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Available Groups:</p>
      <!-- <ol>
        @for (group of this.lists.groups; track $index){
          <li>{{group}}</li>
        }
      </ol> -->
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <!-- <form (ngSubmit)="addGroup($event)">
      <div class="input-group mb-3">
        <input type="text" #addgroup id="addgroup" name="addgroup" class="form-control" [(ngModel)]="new_group" placeholder="New group" aria-label="group" aria-describedby="basic-addon1">
        <span class="input-group-text" id="group" (click)="addGroup(new_group)"><i class="bi bi-plus-square-fill" ></i></span>
      </div>
    </form> -->
  </mat-card-actions>
</mat-card>
