table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 25%;
}

td, th {
  width: 25%;
}

mat-sidenav {
  padding: 10px 5px 5px;
}

mat-sidenav-content {
  padding: 10px;
}

.nav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(177, 232, 253, 0.5);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.button-sidenav {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
