<!-- <mat-toolbar class="header"></mat-toolbar> -->
<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div>
      <h5>User:</h5>
      <p><button class="button-sidenav" mat-raised-button (click)="newTicket()">New Ticket</button></p>
      <p><button class="button-sidenav" mat-raised-button (click)="getMyTickets()">My Tickets</button></p>
    </div>
    @if (this.isTech){
    <div>
      <h5>Tech:</h5>
        <p><button class="button-sidenav" mat-raised-button (click)="switchToGroupTickets()">Claim Ticket</button></p>
        <p><button class="button-sidenav" mat-raised-button (click)="switchToAssignedTickets()">My Queue</button></p>

    </div>
    }
    @if (this.currentUser.is_admin){
      <div>
        <h5>Admin:</h5>
        <p><button class="button-sidenav" mat-raised-button (click)="switchToAllFilteredTickets()">All Filtered Tickets</button></p>
      </div>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button color="primary" aria-label="menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Your keyword(s)" #input>
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="viewClosed" (change)="this.filterTickets()" >
      View Closed Tickets
    </mat-slide-toggle>

    <div class="mat-elevation-z8">
      <h4>{{currentView}}</h4>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Date Definition -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date: 'medium'}} </td>
      </ng-container>

      <!-- Created By Definition -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
        <td mat-cell *matCellDef="let row"> {{findUser(row.user_id)?.f_name}} {{findUser(row.user_id)?.l_name}}</td>
      </ng-container>

      <!-- Title Definition -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <!-- Desription Definition -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <!-- Status Definition -->
      <ng-container matColumnDef="status_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{findStatus(row.status_id)?.name}} </td>
      </ng-container>

      <!-- Group Definition -->
      <ng-container matColumnDef="group_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
        <td mat-cell *matCellDef="let row"> {{findGroup(row.group_id)?.name}} </td>
      </ng-container>

      <!-- Assigned Tech Definition -->
      <ng-container matColumnDef="assigned_tech">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tech </th>
        <td mat-cell *matCellDef="let row"> {{findUser(row.assigned_tech_id)?.f_name}} {{findUser(row.assigned_tech_id)?.l_name}} </td>
      </ng-container>

      <!-- Category Definition -->
      <ng-container matColumnDef="category_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row"> {{findCategory(row.category_id)?.name}} </td>
      </ng-container>

      <!-- Location Definition -->
      <ng-container matColumnDef="location_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let row"> {{findLocation(row.location_id)?.name}} </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="rowSelected(row)"  *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tickets"></mat-paginator>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer">
  <p>All Rights Reserved. &copy; Aaron Whitmer, 2024</p>
  <p> Contact Us: <span><i class="bi bi-envelope"></i><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i class="bi bi-twitter-x"></i></span></p>
</mat-toolbar>



<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Your keyword(s)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>
  <!-- Date Definition -->
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let row"> {{row.created_at}} </td>
  </ng-container>

  <!-- Created By Definition -->
  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
    <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
  </ng-container>

  <!-- Title Definition -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
  </ng-container>

  <!-- Desription Definition -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
  </ng-container>

  <!-- Status Definition -->
  <ng-container matColumnDef="status_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let row"> {{row.status_id}} </td>
  </ng-container>

  <!-- Group Definition -->
  <ng-container matColumnDef="group_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
    <td mat-cell *matCellDef="let row"> {{row.group_id}} </td>
  </ng-container>

  <!-- Assigned Tech Definition -->
  <ng-container matColumnDef="assigned_tech">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tech </th>
    <td mat-cell *matCellDef="let row"> {{row.assigned_tech}} </td>
  </ng-container>

  <!-- Category Definition -->
  <ng-container matColumnDef="category_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <td mat-cell *matCellDef="let row"> {{row.category_id}} </td>
  </ng-container>

  <!-- Location Definition -->
  <ng-container matColumnDef="location_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
    <td mat-cell *matCellDef="let row"> {{row.location_id}} </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tickets"></mat-paginator>
</div>
