<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{imageRootUrl}}{{this.currentUser.profile_image_url}}">
            <span class="font-weight-bold">{{this.currentUser.f_name}} {{this.currentUser.l_name}}</span><span class="text-black-50">{{this.currentUser.email}}</span><span> </span>
            <div>
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Profile Image
                    </mat-panel-title>
                    <mat-panel-description>
                      {{panelOpenState ? '' : 'Click to edit' }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <input type="file" (change)="onFileSelected($event)" id="profileImage" />
                </mat-expansion-panel>
              </mat-accordion>


            </div>
            </div>
      </div>
      <div class="col-md-5 border-right">
        <form #editProfileForm="ngForm" (ngSubmit)="onSubmit()" class="form">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" [(ngModel)]="this.currentUser.f_name" name="f_name"></div>
                  <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" [(ngModel)]="this.currentUser.l_name" placeholder="surname" name="l_name"></div>
              </div>
              <div class="row mt-3">
                  <!-- <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                  <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                  <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                  <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                  <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                  <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> -->
                  <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email" [(ngModel)]="this.currentUser.email" name="email"></div>
                  <!-- <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div> -->
              </div>
              <div class="row mt-3 ml-auto">
                <label class="labels">Groups:</label>
                <ul>
                @for(group of this.currentUser.groups; track group){
                  <li><mat-chip> {{group.name}}</mat-chip></li>
                 }
                </ul>
                  <!-- <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                  <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>-->
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
          </div>
        </form>
      </div>
      <!-- <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
              <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
              <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
          </div>
      </div> -->
  </div>
</div>

