<!-- Sign up form -->
<h1 style="align-items: center; color: #545454">Sign Up</h1>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">
  <div>
    <mat-form-field>
      <mat-label floatLabel="First Name">First Name</mat-label>
      <input matInput formControlName="f_name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label floatLabel="Last Name">Last Name</mat-label>
      <input matInput formControlName="l_name" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label floatLabel="E-mail">E-mail</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label floatLabel="Password">Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label floatLabel="Password Confirmation">Password Confirmation</mat-label>
      <input matInput formControlName="password_confirmation" [type]="hide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>



  </div>

  <button type="submit" [disabled]="!signUpForm.valid">Submit</button>
  @for (error of errors; track $index){
    <p>{{error}}</p>
  }
</form>
